body {
  padding-top: 3.5rem;
  padding-bottom: 1.25rem;
}
.socialmedia a {
  color: inherit;
}
.socialmedia .fa {
  margin-right: 0.25rem;
  font-size: 1.25rem;
  vertical-align: middle;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-youtube {
  color: #cc181e;
}
.fa-twitch {
  color: #6441a5;
}

/* TwitchCheck Lite */
.twitchchecklite-account {
  display: inline-block;
  font-size: 2rem;
  line-height: 3.125rem;
}
.twitchchecklite-logo {
  margin-right: 0.5rem;
  width: 3.125rem;
}

/* TwitchCheck */
